/* Import Tailwind CSS */
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Your custom styles */
.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}